.button-container {
  @apply font-inter-light text-gray-800 py-2 px-4 border border-gray-800 rounded-sm uppercase;

  &:hover {
    @apply bg-gray-800 border-gray-800 text-white;
  }

  &.google-sign-in {
    @apply bg-indigo-600 text-white border-indigo-600;

    &:hover {
      @apply bg-indigo-700;
    }
  }

  &.inverted {
    @apply bg-white;

    &:hover {
      @apply bg-gray-800 border-gray-800 text-white;
    }
  }
}

.button-spinner-overlay {
  @apply w-full flex justify-center items-center px-6;
}

.button-spinner-container {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 3px solid rgba(195, 195, 195, 0.6);
  border-radius: 50%;
  border-top-color: #636767;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
  @keyframes spin {
    to {
      -webkit-transform: rotate(360deg);
    }
  }
  @-webkit-keyframes spin {
    to {
      -webkit-transform: rotate(360deg);
    }
  }
}

