.category-item-container {
  @apply flex justify-center relative items-center flex-auto min-w-full overflow-hidden;
  height: 280px;

  &:hover {
    cursor: pointer;

    & .background-image {
      transform: scale(1.1);
      transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    }
  }

  &.large {
    height: 380px;
  }

  .background-image {
    @apply w-full h-full bg-cover bg-center;
  }

  .overlay {
    @apply absolute inset-0 bg-black opacity-10;
  }

  .category-body-container {
    @apply flex flex-col absolute items-center justify-center text-white capitalize px-8; 

    h2 {
      @apply font-inter-bold text-3xl mx-2;
      transition: color 0.3s ease-in-out;
    }
  }
}
