.cart-dropdown-container {
  @apply absolute flex flex-col p-4 border border-gray-800 bg-white right-12 top-24 z-10;
  width: 240px;
  height: 340px;

  .empty-message {
    @apply text-lg my-12 mx-auto;
  }

  .cart-items {
    height: 240px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
  }
}
