.checkout-item-container {
  @apply w-full flex min-h-full border-b border-gray-400 py-4 px-0 text-lg items-center;

  .image-container {
    @apply pr-4;
    width: 23%;

    img {
      @apply w-full h-full;
    }
  }
  .name,
  .quantity,
  .price {
    @apply text-base md:text-lg;
    width: 23%;
  }

  .quantity {
    @apply flex;

    .arrow {
      @apply cursor-pointer;
    }

    .value {
      margin: 0 10px;
    }
  }

  .remove-button {
    @apply cursor-pointer pl-3;
  }
}
